# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# SQLite database
*.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store
